.texto-simples{
    color: brown;
}

#texto-complexo{
    color: rgb(255, 0, 0)
}
.texto-translucido{
    color: rgba(255, 0,  0, 0.5);
}

.back-simple{
    background-color: #0000ff;
}
.back-translucido{
    background-color: rgba(0, 255, 0, 0.3);
}
.back-imagem-unica{
    background-image: url('/imagens/css_1.png');
    background-repeat: no-repeat;
}
.posicao-especifica{
    background-position: center right;
}

.box{
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
    width: 50%;
    height: 50%;
    min-height: 300px;
}

#back-imagens-multiplas{
    background-image: url('/imagens/css_1.png'), url('/imagens/css_2.png'), url('/imagens/css_1.png'), url('/imagens/css_2.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right, top right, bottom left;
    background-size: 64px, 64px, 64px, 64px;
}